/* Fonts */
/* "IM Fell Double Pica", "Hammersmith One" */
@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=IM+Fell+Double+Pica:ital@0;1&display=swap");

div[style*="position: absolute"] > .vega-actions,
.vega-embed details {
  display: none !important;
}

:root {
  --primary-gray: #222116;
  --primary-red: #b8231e;
  --primary-yellow: #fdca8b;
  --gray1: #c2baa6;
}

html,
body {
  font-family: "IM Fell Double Pica", serif, sans-serif;
  color: white;
  font-size: 2vw;

  background-color: var(--primary-gray);
  width: 100%;
  height: 100%;
  margin: 0;

  /* Prevent horizontal scrolling */
  overflow-x: hidden;
}

/* ----------------Hook----------------- */
#hook {
  width: 100%;
  height: 90vh;
  align-items: center;
  justify-content: center;
  display: flex;
}

.hook-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hook-element-wrapper {
  display: flex;
  flex-direction: row;
  gap: 3vw;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.video-wrapper {
  width: 50%;
}

#videoInsert {
  width: 100%;
  height: auto;
  background-size: cover;
  overflow: hidden;
}

.quote-container {
  display: flex;
  width: 60%;
  flex-direction: column;
}

.quote-container p {
  margin: 0;
  padding: 0;
}

#quoter {
  margin-top: 4vh;
}

/* ----------------Intro----------------- */
#intro {
  background-color: var(--primary-red);
  width: 100%;
  height: 90vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#intro .quote-container {
  text-align: center;
  margin-top: 5vh;
}

/* ----------------P1----------------- */

#P1 {
  width: 100%;
  height: auto;
  margin: 5vh 0;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.question-text {
  font-family: "Hammersmith One", Verdana, sans-serif;
}

.information-text {
  width: 90%;
  text-align: center;
}

#P1-1 {
  width: 80%;
}

/* ----------------P2----------------- */

#P2 {
  width: 100%;
  margin: 5vh 0;
  height: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-red);
}

#P2-1 {
  width: 80%;
}

/* ----------------P3----------------- */

#P3 {
  width: 100%;
  height: auto;
  margin: 5vh 0;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#P3-1 {
  width: 80%;
}
