/* 'Nunito Sans' - IMPORTED FROM GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

html, body {
    font-family: 'Nunito Sans', Verdana, sans-serif;
    background-color: #ffffff;
  
    /* Prevent horizontal scrolling */
    max-width: 100%;
    overflow-x: hidden; 
  }

  p {
    color: black;
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

/* -------------------------------------- */
/* ----------- NAVIGATION BAR ----------- */
/* -------------------------------------- */

  .nav-wrapper {
    height: auto;
    width: 50%;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav-container {
    display:flex;
    flex-direction: row;
    gap: 1em;
    margin: auto;
  }

/* -------------------------------------- */
/* -------------- HOMEPAGE -------------- */
/* -------------------------------------- */

 .introduction-main {
    width: 100%;
    align-items: center;
    justify-content: center;

    display: flex;
    flex-direction: column;
 }

 .introduction-main h1 {
    color:red;
    margin-top: 1rem;
    margin-bottom: 0rem;
 }

 .intro-container {
    width: 70%;
    padding: 1.5rem;
    border-radius: 1rem;
    text-align: left;
    box-shadow: 0 0.156rem 0.375rem 0 #b9b9b9;
    background-color: white;
 }

 /* #svgContainer {
  width: 400px;
  height: 400px;
  background-color: #a0a0a0;
 } */